@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;900&family=Chakra+Petch:wght@300;400;500;600;700&family=Fraunces:wght@400;700;900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;900&family=Sen:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-2 {
    @apply font-chakra font-semibold sm:text-[48px] text-[40px] text-white sm:leading-[76.8px] leading-[60px] w-full;
  }
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #353535 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.testimonial-card {
  background: transparent;
}

.testimonial-card:hover {
  background: var(--black-gradient);
}
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #aeaad3 0.89%,
    #a9a6d3 17.23%,
    #948ed4 42.04%,
    #8c86d0 55.12%,
    #837cd4 71.54%,
    #796ee8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
